<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devcloud.mall.mapper.GoodsMapper">
    
    <resultMap id="GoodsDetailMap" type="com.devcloud.mall.domain.dto.GoodsDetailDto">
        <id column="id" property="id"/>
        <result property="sellerId" column="user_Id"/>
        <result property="sellerName" column="username"/>
        <result property="avatar" column="avatar"/>
        <result property="goodsName" column="name"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="cateId" column="cate_id"/>
        <result property="cateParentId" column="cate_parent_id"/>
        <!--<result property="attributes" column="attributes" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>-->
        <result property="image" column="image"/>
        <result property="number" column="number"/>
        <result property="viewCount" column="view_count"/>
    </resultMap>

    <update id="incrGoodsNumber">
        update goods
        set number = number + #{number}
        where id = #{goodsId}
    </update>

    <select id="selectGoodsDetailById" resultMap="GoodsDetailMap">
        select
            g.id,
            g.user_Id,
            u.username,
            u.avatar,
            g.name,
            g.price,
            g.description,
            g.cate_id,
            g.cate_parent_id,
           /* g.attributes,*/
            g.image,
            g.number,
            g.view_count
        from goods g
        join user u on g.user_id = u.id
        where g.id = #{id}
    </select>
    <select id="selectGoodsListPage" resultMap="GoodsDetailMap">
        select
            g.id,
            g.user_Id,
            u.username,
            u.avatar,
            g.name,
            g.price,
            g.description,
            g.cate_id,
            g.cate_parent_id,
            /* g.attributes,*/
            g.image,
            g.number,
            g.view_count
        from goods g
        join user u on g.user_id = u.id
        where g.status = 1
    </select>
    <select id="selectGoodsDetailByCateParentId" resultMap="GoodsDetailMap">
        select
            g.id,
            g.user_Id,
            u.username,
            u.avatar,
            g.name,
            g.price,
            g.description,
            g.cate_id,
            g.cate_parent_id,
            /* g.attributes,*/
            g.image,
            g.number,
            g.view_count
        from goods g
            join user u on g.user_id = u.id
        where g.cate_id = #{cid}
    </select>

</mapper>
